Checks:          '-*,boost-*,bugprone-*,cert-*,cppcoreguidelines-*,clang-analyzer-*,google-*,misc-*,modernize-*,performance-*,readability-*,-google-runtime-references,-cppcoreguidelines-pro-bounds-pointer-arithmetic'
# WarningsAsErrors: '*'  # This option is supported in clang-tidy 3.9.0
HeaderFilterRegex: '^xchainer/xchainer/.*'
AnalyzeTemporaryDtors: false
