*~
*.egg/
*.pyc
*.pyo
*.cpp
*.so
build
\#*\#
.\#*
.coverage
.eggs/
_readthedocs_build
/TAGS
/tags
chainer.egg-info/
dist/
htmlcov/
.idea/
.cache/
.mypy_cache/
.pytest_cache/
docs/my.model
docs/my.state
docs/my_mnist.model
docs/mnist_result
docs/*.png
/docs/source/**/reference/**/generated
