remote:
    host: "saturn",
    user: "mitmul",
    path: "/home/mitmul/chainer"
    # path: "/mnt/sakuradata3/mitmul/codes/chainer-pspnet"

behaviour:
    uploadOnSave: true
    syncDownOnOpen: false
    forgetConsole: false
    autoHideConsole: true
    alwaysSyncAll: false

option:
    deleteFiles: true
    autoHideDelay: 1500
    exclude: [
        '.sync-config.cson'
        '.git'
        'node_modules'
        'tmp'
        'vendor'
    ]
    flags: 'avpur'
    shell: 'ssh'
