remote:
  host: "sakura246"
  user: "shunta"
  path: "/home/shunta/lib/chainer"
behaviour:
  uploadOnSave: true
  syncDownOnOpen: false
  forgetConsole: false
  autoHideConsole: true
  alwaysSyncAll: false
option:
  deleteFiles: false
  exclude: [
    ".sync-config.cson"
    ".git"
    "node_modules"
    "tmp"
    "vendor"
  ]
