set noparent
# -legal/copyright: we do not write copyright on each file
# -build/include_order: cpplint mistakes 3rd party libraries as c system headers, disable it
# -whitespace/braces: cpplint occasionally fails to parse so we instead rely on clang-format for this category
# -whitespace/ident: we do not indent private:, protected:, public:
# -build/c++11: we allow c++11
# -build/c++14: we allow c++14
# -runtime/reference: we allow non-const reference argument
# -readability/nolint: we allow specifying checks for clang-tidy, that are unknown to cpplint and thus raise errors
filter=-legal/copyright,-build/include_order,-whitespace/braces,-whitespace/indent,-build/c++11,-build/c++14,-runtime/reference,-readability/nolint
linelength=140
root=chainerx
